@import url("../style/fonts.css");

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-header {
  font-weight: 100;
  font-size: 1.3em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  padding: 0.8em 1.25em;
  color: #e0e0e0;
  border-bottom: 1px solid #1e1e1e;
  margin: 0;
}
